{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block title %}Edycja skrzyni{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 py-5">
                    <form class="p-5" method="post">
                    <div id='form-errors'>{{ form_errors }}</div>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0"> {{ form.type|as_crispy_field }}</div>
                        <div class="form-group col-md-12 mb-0">{{ form.weight|as_crispy_field }}</div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0"> {{ form.length|as_crispy_field }}</div>
                        <div class="form-group col-md-4 mb-0">{{ form.width|as_crispy_field }}</div>
                        <div class="form-group col-md-4 mb-0">{{ form.height|as_crispy_field }}</div>
                    </div>
                    {{ form.storage_conditions|as_crispy_field }}
                    <a class="btn btn-primary" href = "incase/edit">Zmień zawartość skrzyni</a>
                    </form>
        {% for i in Incase %}
            {{ i.name }}
        {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}