{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block title %}Edycja skrzyni{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-5">
                <div class="row">
                    <div class="col-6"><h3 class="float-left">Zawartość skrzyni:</h3></div>
                    <div class="col-6"><a class="float-right btn btn-primary" href={% url 'incase_add' %}>Dodaj nowy element</a></div>
                </div>
                {% if Incase %}
                    <ul class="list-group list-group-flush py-3">
                    {% for i in Incase %}
                        <li class="list-group-item"><a href={% url 'incase_edit' i.pk %} >{{ i.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>Skrzynia jest pusta</p>
                {% endif %}
            </div>
            <div class="col-md-6 p-5">
                <form class="" method="post">
                    <h3>Edytuj skrzynię:</h3>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0"> {{ form.type|as_crispy_field }}</div>
                        <div class="form-group col-md-12 mb-0">{{ form.weight|as_crispy_field }}</div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0"> {{ form.length|as_crispy_field }}</div>
                        <div class="form-group col-md-4 mb-0">{{ form.width|as_crispy_field }}</div>
                        <div class="form-group col-md-4 mb-0">{{ form.height|as_crispy_field }}</div>
                    </div>
                    {{ form.storage_conditions|as_crispy_field }}
                    {{ form.capacity|as_crispy_field }}
                    <input type="submit" class="btn btn-primary" value="Zmień zawartość skrzyni"/>
                    </form>
                    <div id='form-errors'>{{ form_errors }}</div>
            </div>
        </div>
    </div>
{% endblock %}