{% extends 'main.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-5">
        <div class="row">
                    <div class="col-6"><h3 class="float-left">Lista skrzyń:</h3></div>
                    <div class="col-6"><a class="float-right btn btn-primary" href={% url 'case_add' %}>Dodaj nową skrzynię</a></div>
        </div>
        {% if object_list %}
            <ul class="list-group list-group-flush py-3">
            {% for case in object_list %}
                <li class="list-group-item"><a href="{% url 'case_edit' case.pk %}">{{ case.case_id }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Lista skrzyń jest pusta</p>
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}